server:
  port: 3000

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/ecommerce
    username: anik_singhal
    password:
    driver-class-name: org.postgresql.Driver

  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
      mode: always
