server:
  port: 3000

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/ecommerce
    username: anik_singhal
    password:
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
